body {
  color: #333333;
}

.container {
  width: 800px;
  margin: 50px auto;
  padding: 0;
}

.question {
  margin: 0 auto;
  padding: 30px 0 40px;
  text-align: left;
  font-size: 20px;
}

.answers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

button {
  width: 150px;
  height: 50px;
}

#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 30px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: transform .4s;
}

#modal > p {
  margin: 0 0 30px 4px;
  text-align: left;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

#modal.appearance {
  transform: translate(0, 540px) .4s;
}

@media(max-width: 800px) {
  .container {
    width: 500px;
    padding: 0 30px;
  }

  .question {
    padding: 30px 30px 40px;
  }

  .answers {
    width: 380px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 100%;
  }

  .answers {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}