body {
  margin: 50px auto;
  text-align: center;
}

.question {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

button {
  margin: 20px;
  width: 120px;
}

#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 30px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: transform .4s;
}

#modal > p {
  margin: 0 0 30px 4px;
  text-align: left;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

#modal.appearance {
  transform: translate(0, 540px) .4s;
}